<div class="container-fluid bg-light shadow my-1 aboutpages " id="about">
    <div class="row" >
      <div class="col-md-6">
        <p class="pt-5">Welcome to <b>HOMEWOOD MOUNTAIN</b> restaurant. We have been providing fresh, fast, and friendly food .
         <i><u>HOMEWOOD MOUNTAIN</u></i> isn’t just about authentic food, it specializes in high standard, fresh and healthy food with
          affordable prices.Our food is cooked fresh to the customer’s order and taste. You are guaranteed the freshness of your order.</p>
      <span> </span><p>IT provides an exceptional location for special events. Memorable events include weddings, receptions, rehearsal dinners, corporate events, charitable fundraisers, family parties, and farm tours. 
        The Restaurant can accommodate up to 150 guests, and the Farm can accommodate up to 500 guests.</p>
        </div>
      <div class="col-md-6">
          <img src="../../assets/4 (1).jpg" alt="partyTime" style="width:100%;height:300px;margin-top:1px;">
      </div>
    </div>
  </div>